*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

/* NAVIGATION BAR */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #92C7CF;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
    padding: 0px 50px;
    z-index: 10;
}

.Logo {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Wrap-Menu {
    display: flex;
}

.Menu {
    padding: 0px 16px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
}

.Menu:hover {
    color: #468B97;
}

/* INFORMASION SECTION */
#My-information {
    display: flex;
    justify-content: space-between;
    background-color: #AAD7D9;
    height: 620px;
    padding: 0px 100px;
    align-items: center;
}

.Information {
    width: 65%;
}

.Information h3 {
    font-size: 20px;
    font-weight: 500;
    font-style: initial;
    color: #FFF;
}

.Information h1 {
    margin-bottom: 16px;
    color: #FFF;
    font-weight: 700;
}

.Information p{
    margin-bottom: 16px;
    font-weight: 500;
    color: #FFF;
}

.Information a{
    background-color: #FFF;
    border-radius: 12px;
    font-weight: 800;
    color: #1D5B79;
    text-decoration: none;
    padding: 8px 32px;
    margin-bottom: 16px;
}

.Information a:hover {
    background-color: #1D5B79;
    color: #FBF9F1;
    transform: .6s;
}

.Images {
    object-fit: cover;
    object-position: center center;
}

.Images img {
    width: 360px;
    height: 360px;
    border-radius: 16px;
}

/* PORTOFOLIO SECTION */
main {
    text-align: center;
    width: 100%;
    padding: 30px;
}

.File-Portofolio {
    display: flex;
    align-items: center;
    text-align: center;
}

.Portofolio{
    flex-wrap: wrap;
    padding: 50px;
    width: 50%;
}

.Portofolio img {
    width: 100%;
    height: 360px;
    border-radius: 20px;
    margin: 20px 0px;
}

.Desription-Portofolio {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    background-color: #92C7CF;
}

.Portofolio h3 {
    font-size: 22px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 10px;
}

.Portofolio h4 {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}

.Portofolio a {
    background-color: #92C7CF;
    border-radius: 12px;
    color: #FFF;
    text-decoration: none;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.20);
}

.Portofolio a:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.10);
    background-color: #468B97;
}

/* FOOTER SECTION */ 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #92C7CF;
    margin-top: 0;
}

footer a {
    background-color: #FFF;
    color: #AAD7D9;
    padding: 20px 10px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 10px 50px;
    border-radius: 50%;
}

.fa {
    font-size: 28px;
}

footer a:hover {
    background-color: #468B97;
    transform: .6s;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 4%;
    z-index: 3;
    margin-left:84%;
    margin-right: 4%;
    padding: 10px;
    background-color: #424242;
    border-radius: 20px;
}

.contact:hover {
    background-color: #1D5B79;
    transform: scale(1.04);
}

.contact a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}
