*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFDBC3;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

/* NAVIGATION BAR */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    background-color: #3D246C;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
}

.Logo {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Wrap-Menu {
    display: flex;
}

.Menu {
    margin: 0px 16px;
    font-size: 20px;
    font-weight: 500;
}

/* INFORMASION SECTION */
.My-information {
    display: flex;
    justify-content: space-between;
    background-color: #5C4B99;
    height: 620px;
    padding: 0px 120px;
    align-items: center;
}

.Information h3 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: white;
}

.Information h1 {
    margin-bottom: 16px;
    color: white;
}

.Information p{
    margin-bottom: 16px;
    color: white;
}

.Information a{
    background-color: #FFF;
    border-radius: 12px;
    color: #3D246C;
    text-decoration: none;
    padding: 8px 32px;
    margin-bottom: 16px;
}

.Information a:hover {
    background-color: #FFDBC3;
    transform: .6s;
}

.Images {
    object-fit: cover;
    object-position: center center;
    width: 250px;
    height: 250px;
}

.Images img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* PORTOFOLIO SECTION */
main {
    text-align: center;
    width: 100%;
    padding: 50px;
}

.Text-Portofolio {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.Images-Portofolio {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Images-Portofolio img {
    flex-basis: calc(35% - 100px);
    margin: 30px;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}

.Group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 320px;
    margin-bottom: 60px;
}

.Group-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 320px;
    margin-bottom: 60px;
}

/* FORM SECTION */
.Section-Form {
    background-color: #5C4B99;
    width: 100%;
    height: 800px;
}

.Title-Form {
    text-align: center;
    padding: 60px;
    color: white;
}

.Title-Form h1 {
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px 160px;
}

form ::placeholder {
    padding: 20px;
    align-items: start;
    color: black;
}

form label {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 12px;
}

#Data-Form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.Name-Form , .Email-Form {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#Data-Form input{
    height: 53px;
    padding: 20px 50px;
    border-radius: 12px;
}

.Pesan-Form {
    display: flex;
    flex-direction: column;
}

.Pesan-Form input{
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    padding: 80px 100px;
    height: 235px;

}

button {
    border-radius: 12px;
    background-color: white;
    color: #3D246C;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    margin: 44px 0px;
}

button:hover {
    background-color: #FFDBC3;
    transform: .6s;
}

/* FOOTER SECTION */ 
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 16px;
}

footer p {
    color: #3D246C;
    font-size: 18px;
    font-weight: 400px;
}

footer a {
    background-color: #5C4B99;
    color: #FFDBC3;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
}

footer a:hover {
    background-color: #3D246C;
    transform: .6s;
}

/* MEDIA QUERY */
@media (max-width: 1000px) {
    body {
        background-color: #8CC0DE;
    }

    nav {
        background-color: #1D5B79
    }

    .My-information {
        background-color: #468B97;
    }

    .Section-Form {
        background-color: #EF6262;
    }
}